* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
   
    line-height: 1.7em;
    overflow: auto;
}
  .navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .logo {
    color: white;
    font-size: 3rem;
    
    margin-left:2% ;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 1%;
    
  }
  
  .navbar ul li {
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }


  .container{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    border: 0.5px solid  #fff;
    width: 100vw;
    min-height: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
      
    
} 


.info{
    width: 50%;
    padding: 2%;
    margin: 10px; 
    color: #181818;
    line-height: 1.7em;
    font-size: 1.2rem;  
    
}

.text1{
    color:  #f7c08f;
}

h2{
    line-height: 1.2em;
}


.img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin: 20px 0 5px 0;
        
}




.test{
background-image: url(./image/test-bg.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100vw;
min-height: 600px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
align-content: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.one{
color: #fff;
text-align: center;
padding-bottom: 40px;
font-size: 2.5rem;
}
.box{
background-color: #f7c08f;
color: #333;
width:80vw;
height: 17vh;
margin-bottom: 40px;

border-radius: 5px;
opacity: 0.9;
position: static;




}

.person{
border-radius: 50%;
margin: 10px 20px 10px 20px;
width: 90px;
height: 90px;

}
.para{
text-align: left;
font-size: 1rem;
margin: -90px 10px 10px 130px;
line-height: 1.9em;
/* padding: 40px;
margin-bottom: 30px; */

}











  #main-footer {
    width: 100vw;
    min-height: 35vh;
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
    
  }
  
  .text1{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  
  
  h3 {
    padding: 5px;
    
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 26px 18px;
  
  }
  a:hover{
    color:  #009688;
    /* background-color: #4b4b4b; */
    transition: 2s;
  }
  
  .container3{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }